<script>
  import { Button } from '@webselect-ai/ui';
</script>

## Transform web content into interactive knowledge sources with contextual AI assistance.

Add WebSelect.ai to your browser and enhance your research efficiency.

<Button
  href="https://chromewebstore.google.com/detail/webselect/ggfejamdpmmmicibglgeldllgihkciie"
  target="_blank"
>
  Get the extension
</Button>